@import '../../App.scss';

.home{

    @include themify($themes){

    padding: 50px 70px;

    background-color: themed('bgSoft');

    .container{

    }

    @include mobile {
        padding: 10px;
    }

    @include table {
        padding: 20px;
    }
}
}