@import '../../App.scss';

.post{
    @include themify($themes) {
        box-shadow: -1px 1px 15px 1px rgba(212,200,200,0.4);
            -webkit-box-shadow: -1px 1px 15px 1px rgba(212,200,200,0.4);
            -moz-box-shadow: -1px 1px 15px 1px rgba(212,200,200,0.4);
            border-radius: 20px;
            background-color: themed('bg');
            color: themed('textColor');
   
    .container{

   padding: 20px;
    .user{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .userInfo{
            display: flex;
            gap: 20px;
            align-items: center;
            img{
                height: 40px;
                width: 40px;
                border-radius: 50%;
                object-fit: cover;

            }
            .detail{
                
            
            .name{
                font-weight: 500;
                
            }
            .date{
                display: flex;
                flex-direction: column;
                font-size: 13px;

            }
        }
        }
    }
    .content{
        margin: 20px 0px;
        p{
            
        }

        img{
            height: 500px;
            width: 100%;
            object-fit: cover;
        }

    }
    .respon{
        display: flex;
        justify-content: space-between;

        .item{
            display: flex;
            align-items: center;
            gap: 10px;
            
            cursor: pointer;

        }


    }
 }
 }
}