@import '../../App.scss';

.stories{
    display: flex;
    gap: 10px;
    height: 250px;
    margin-bottom: 30px;

    @include mobile {
        justify-content: space-between;
        height: 50px;
    }

    .story{
        flex: 1;
        border-radius: 10px;
        overflow: hidden;
        position: relative;


        @include mobile {
        flex: none;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-bottom: 10px;
    }
    @include table {
        height: 170px;
        gap: 20px;
        margin-top: 20px;

    }

        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
    
        }
        span{
            position: absolute;
            bottom: 10px;
            left: 10px;
            font-weight: 500;
            @include mobile {
                display: none;
            }
    
        }
        button{
            position: absolute;
            bottom: 40px;
            left: 10px;
            color: white;
            background-color: rgb(64, 179, 233);
            border: none;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            cursor: pointer;
            font-size: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            @include mobile {
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }
}